ADMIN_PASSWORD=
ALLOWED_ORIGINS=
APP_URL=
DATABASE_URL=
GOOGLE_APPLICATION_CREDENTIALS=
HOST=
PGDATABASE=
PGHOST=
PGPASSWORD=
PGPORT=
PGSSL=
PGUSER=
PORT=
POSTGRES_URL=
PROXY_ALLOWED_HOSTS=
VITE_API_URL=
VITE_APP_URL=